.icons {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}
.container {
  width: 60%;
  height: 100%;
  background-color: black;
  padding: 3.5rem 0;
  margin: 50px auto;
  gap: 50px;
  height: 100vh;
  padding: 20px;
}
.bigger {
  width: 25px;
  height: 25px;
}

.img {
  display: flex;
  justify-content: space-between;
}
.logo{
  font-size: 18px; 
  font-family: arial,sans-serif;
  color:white;
}
