.icons {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}
.bell {
  height: 24px;
  width: 24px;
}
.container {
  width: 100%;
  background-color: black;
  padding: 3.5rem 0;
  margin: auto;
  gap: 50px;
  padding: 20px;
  height: 100vh;
}
.bigger {
  width: 25px;
  height: 25px;
}

.img {
  display: flex;
  justify-content: space-between;
}
.logo {
  font-size: 18px;
  font-family: "YouTube Sans", sans-serif;
  color: white;
  display: flex;
  transition: transform 0.3s;
}
.logo:hover{
  transform: scale(1.1);
}
.information {
  color: #dfb52b;
  font-family: sans-serif;
  margin-left: 20px;
  margin-top: 60px;
}
.btn {
  display: flex;
}
button {
  height: 35px;
  border: none;
  border-radius: 10%;
  margin-right: 10px;
  padding: 10px;

  transition: background-color 0.9s ease;
  font-weight: bold;
  color: white;
}

button:hover {
  font-family: "YouTube Sans", sans-serif;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  background-color: rgba(27, 26, 26, 0.908);
}
.btn-item {
  background-color: rgb(40, 40, 44);
  color: white;
  margin: 5px;
}
.icons-crown {
  margin-top: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
  max-width: auto;
  height: 200px;
}
.imageRotateHorizontal {
  -moz-animation: spinHorizontal 1.8s infinite linear;
  -o-animation: spinHorizontal 1.8s infinite linear;
  -webkit-animation: spinHorizontal 1.8s infinite linear;
  animation: spinHorizontal 1.8s infinite linear;
}

@keyframes spinHorizontal {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}


